services:
  dd-app-db:
    image: mongodb/mongodb-community-server
    restart: always
    environment:
      MONGO_INITDB_DATABASE: dd_db
    ports:
      - 27017:27017
    volumes:
      - dbdata:/data/db
    networks:
      - dd-net

  dd-frontend:
    image: yoganand20/frontend:latest
    ports:
      - 4200:4200
    networks:
      - dd-net
    restart: unless-stopped
      
  dd-backend:
    image: yoganand20/backend:latest
    ports:
      - 8080:8080
    networks:
      - dd-net
    restart: unless-stopped
  
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_SCHEDULE=0 0 4 * * *  # Daily at 4 AM
      - WATCHTOWER_INCLUDE_STOPPED=false
    restart: unless-stopped
    networks:
      - dd-net

volumes:
  dbdata:

networks:
  dd-net:
    driver: bridge
